@using BingVoiceSystem.WebMVC.Models
@model DataModel
@{
    ViewBag.Title = "Add Data";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Data</title>
</head>
<body>
    <h2>Add Data</h2>
    <hr />
    @using (Html.BeginForm("AddData", "Data"))
    {
        @Html.AntiForgeryToken()
        <table class="table table-bordered">
            <tr><td>@Html.LabelFor(x => x.MovieName, "Movie Name")</td><td>@Html.TextAreaFor(x => x.MovieName, new { @class = "form-control" })</td></tr>
            <tr><td>@Html.LabelFor(x => x.Genre, "Genre")</td><td>@Html.TextAreaFor(x => x.Genre, new { @class = "form-control" })</td></tr>
            <tr><td>@Html.LabelFor(x => x.Actors, "Actors (Separate each actor by ';')")</td><td>@Html.TextAreaFor(x => x.Actors, new { @class = "form-control", @rows = 5 })</td></tr>
        </table>

        @Html.ValidationSummary()
        <p class="text-danger">@ViewBag.DuplicateError</p>

        <input type="submit" class="btn btn-primary" value="Save" style="padding-right: 10px" />
        @Html.ActionLink("Cancel", "DataList", null, new { @class = "btn btn-default" });
    }
</body>
</html>