@using BingVoiceSystem.WebMVC.Models
@model DataModel
@{
    ViewBag.Title = "Edit Data";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Data</title>
</head>
<body>
    <h2>Edit Data</h2>
    <hr />
    @if (Model.DataList.MovieID != 0)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.DataList.MovieID)
            <table class="table table-bordered">
                <tr><td>@Html.LabelFor(x => x.DataList.MovieName, "Movie Name")</td><td>@Html.TextAreaFor(x => x.DataList.MovieName, new { @class = "form-control" })</td></tr>
                <tr><td>@Html.LabelFor(x => x.DataList.Genre, "Genre")</td><td>@Html.TextAreaFor(x => x.DataList.Genre, new { @class = "form-control" })</td></tr>
                <tr><td>@Html.LabelFor(x => x.DataList.Actors, "Actors (Separate each actor by ';')")</td><td>@Html.TextAreaFor(x => x.ActorString, new { @class = "form-control", @rows = 5 })</td></tr>
            </table>

            <input type="submit" class="btn btn-primary" value="Save" style="padding-right: 10px" />
            @Html.ActionLink("Cancel", "DataList", null, new { @class = "btn btn-default" });
        }
    }
    else
    {
        <h4>There is no data to display.</h4>
    }
</body>
</html>