@using BingVoiceSystem.Business
@model Data
@{
    ViewBag.Title = "Data List";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data List</title>
</head>
<body>
    <h2>Data List</h2>
    <hr />
    @if (Model.DataList.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Actor</th>
                <th>Last Edited By</th>
                <th>Created By</th>
                @if (User.IsInRole("DataMaintainer"))
                {
                    <th colspan="2">Action</th>
                }
            </tr>
            @foreach (var Item in Model.DataList)
            {
                for (int i = 0; i < Item.Actors.Count; i++)
                {
                    <tr>
                        @if (i == 0)
                        {
                            <td rowspan="@Item.Actors.Count">@Item.MovieName</td>
                            <td rowspan="@Item.Actors.Count">@Item.Genre</td>

                        }
                        @if (Item.Actors.Count > i)
                        {
                            <td>@Item.Actors[i]</td>
                        }
                        @if (i == 0)
                        {
                            <td rowspan="@Item.Actors.Count">@Item.LastEditedBy</td>
                            <td rowspan="@Item.Actors.Count">@Item.CreatedBy</td>

                            if (User.IsInRole("DataMaintainer"))
                            {
                                <td rowspan="@Item.Actors.Count">@Html.ActionLink("Edit", "DataEdit", new { MovieID = Item.MovieID }, new { @class = "btn btn-primary" })</td>
                                <td rowspan="@Item.Actors.Count">@Html.ActionLink("Delete", "DataDelete", new { MovieID = Item.MovieID }, new { @class = "btn btn-danger" })</td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <h4>There is no data to display.</h4>
    }

    @if (User.IsInRole("DataMaintainer"))
    {
        <form method="get" action="DataAdd">
            <input type="submit" class="btn btn-primary" value="Add Data" />
        </form>
    }
</body>
</html>