@using BingVoiceSystem.WebMVC.Models
@model DataModel
@{
    ViewBag.Title = "Delete Data";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Data</title>
</head>
<body>
    <h2>Delete Data</h2>
    <h3>Confirm to delete this data?</h3>
    <hr />
    @if (Model.DataList.MovieID != 0)
    {
        using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.DataList.MovieID)
            <table class="table table-bordered">
                <tr><td>@Html.LabelFor(x => x.DataList.MovieName, "Movie Name")</td><td>@Html.DisplayFor(x => x.DataList.MovieName)</td></tr>
                <tr><td>@Html.LabelFor(x => x.DataList.Genre, "Genre")</td><td>@Html.DisplayFor(x => x.DataList.Genre)</td></tr>
                <tr><td>@Html.LabelFor(x => x.DataList.Actors, "Actors (Actor's separated by ';')")</td><td>@Html.DisplayFor(x => x.ActorString)</td></tr>
            </table>

            <input type="submit" class="btn btn-danger" value="Delete" style="padding-right: 10px" />
            @Html.ActionLink("Cancel", "DataList", null, new { @class = "btn btn-default" });
        }
    }
    else
    {
        <h4>There is no data to display.</h4>
    }
</body>
</html>