@using BingVoiceSystem.WebMVC.Models
@model RulesModel
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BingVoiceSystem._Default">
</head>
<body>
    <h2>Q&A</h2>
    <hr />
    <h4>
        Enter a question and get your answer below!
    </h4>
    @using (Html.BeginForm())
    {
        <table class="table table-bordered">
            <tr><td>@Html.LabelFor(x => x.Question, "Question")</td><td>@Html.TextBoxFor(x => x.Question, new { @class = "form-control" })</td></tr>

            @if (Model.Answer != null)
            {
                <tr><td>@Html.LabelFor(x => x.Answer, "Answer")</td><td>@Model.Answer</td></tr>
            }
        </table>
        <p class="text-danger">@ViewBag.EmptyError</p>

        <input type="submit" class="btn btn-primary" value="Submit" style="padding-right: 10px" />
    }
</body>
</html>



