@using BingVoiceSystem.WebMVC.Models
@model RulesModel
@{
    ViewBag.Title = "Add New Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Rule</title>
</head>
<body>
    <h2>Add New Rule</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="table table-bordered">
            <tr><td>@Html.LabelFor(x => x.Question, "Question")</td><td>@Html.TextBoxFor(x => x.Question)</td></tr>
            <tr><td>@Html.LabelFor(x => x.Answer, "Answer")</td><td>@Html.TextBoxFor(x => x.Answer)</td></tr>
        </table>
        @Html.ValidationSummary()

        <input type="submit" value="Save" />
        @Html.ActionLink("Cancel", "RulesList")
    }

</body>
</html>
