@using BingVoiceSystem.WebMVC.Models
@model RulesModel
@{
    ViewBag.Title = "Delete Rule";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Rule</title>
</head>
<body>
    <h2>Delete Rule</h2>
    <h3>Confirm to delete this rule?</h3>
    <hr />
    @if (Model.PendingRule.RuleID != 0)
    {
        using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.PendingRule.RuleID)
            <table class="table table-bordered">
                <tr><td>@Html.LabelFor(x => x.PendingRule.Question, "Question")</td><td>@Html.DisplayFor(x => x.PendingRule.Question)</td></tr>
                <tr><td>@Html.LabelFor(x => x.PendingRule.Answer, "Answer")</td><td>@Html.DisplayFor(x => x.PendingRule.Answer)</td></tr>
            </table>

            <input type="submit" class="btn btn-danger" value="Delete" style="padding-right: 10px" />
            @Html.ActionLink("Cancel", "RulesList", null, new { @class = "btn btn-default" });
        }
    }
    else if (Model.ApprovedRule.RuleID != 0)
    {
        using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.ApprovedRule.RuleID)
            <table class="table table-bordered">
                <tr><td>@Html.LabelFor(x => x.ApprovedRule.Question, "Question")</td><td>@Html.DisplayFor(x => x.ApprovedRule.Question)</td></tr>
                <tr><td>@Html.LabelFor(x => x.ApprovedRule.Answer, "Answer")</td><td>@Html.DisplayFor(x => x.ApprovedRule.Answer)</td></tr>
            </table>

            <input type="submit" class="btn btn-danger" value="Delete" style="padding-right: 10px" />
            @Html.ActionLink("Cancel", "RulesList", null, new { @class = "btn btn-default" });
        }
    }
    else if (Model.RejectedRule.RuleID != 0)
    {
        using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.RejectedRule.RuleID)
            <table class="table table-bordered">
                <tr><td>@Html.LabelFor(x => x.RejectedRule.Question, "Question")</td><td>@Html.DisplayFor(x => x.RejectedRule.Question)</td></tr>
                <tr><td>@Html.LabelFor(x => x.RejectedRule.Answer, "Answer")</td><td>@Html.DisplayFor(x => x.RejectedRule.Answer)</td></tr>
            </table>

            <input type="submit" class="btn btn-danger" value="Delete" style="padding-right: 10px" />
            @Html.ActionLink("Cancel", "RulesList", null, new { @class = "btn btn-default" });
        }
    }
</body>
</html>