@*@using BingVoiceSystem.WebMVC.Models*@
@using BingVoiceSystem.Data
@*@model RulesModel*@
@model PendingRule
@{
    ViewBag.Title = "Edit Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Rule</title>
</head>
<body>
    <h2>Edit Rule</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.RuleID)
        <table class="table table-bordered">
            <tr><td>@Html.LabelFor(x => x.Question, "Question")</td><td>@Html.TextAreaFor(x => x.Question, new { @class = "form-control", @rows = 5 })</td></tr>
            <tr><td>@Html.LabelFor(x => x.Answer, "Answer")</td><td>@Html.TextAreaFor(x => x.Answer, new { @class = "form-control", @rows = 5 })</td></tr>
        </table>

        <input type="submit" class="btn btn-primary" value="Save" style="padding-right: 10px" />
        @Html.ActionLink("Cancel", "RulesList", null, new { @class = "btn btn-default" });
    }
</body>
</html>