@using BingVoiceSystem.Business
@model RulesList
@{
    ViewBag.Title = "Rules List";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules List</title>
</head>
<body>
    <h2>Rules List</h2>
    <hr />
    <h3>Pending</h3>
    @if (Model.PendingRulesList.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Last Edited By</th>
                <th>Created By</th>
                <th colspan="4">Action</th>
            </tr>
            @foreach (var Item in Model.PendingRulesList)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                    <td>@Item.LastEditedBy</td>
                    <td>@Item.CreatedBy</td>

                    @if (User.IsInRole("Editor"))
                    {
                        <td>@Html.ActionLink("Edit", "Edit", new { id = Item.RuleID, table = "PendingRules" }, new { @class = "btn btn-primary" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = Item.RuleID, table = "PendingRules" }, new { @class = "btn btn-danger" })</td>
                    }

                    @if (User.IsInRole("Approver"))
                    {
                        <td>@Html.ActionLink("Approve", "Approve", new { id = Item.RuleID }, new { @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("Reject", "Reject", new { id = Item.RuleID }, new { @class = "btn btn-danger" })</td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <p>There are no pending rules to display.</p>
    }

    @if (User.IsInRole("Editor"))
    {
        <form method="get" action="Add">
            <input type="submit" class="btn btn-primary" value="Add New Rule" />
        </form>
    }

    <hr />
    <h3>Approved</h3>
    @if (Model.ApprovedRulesList.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Approved By</th>
                <th>Last Edited By</th>
                <th>CreatedBy</th>
            </tr>
            @foreach (var Item in Model.ApprovedRulesList)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                    <td>@Item.ApprovedBy</td>
                    <td>@Item.LastEditedBy</td>
                    <td>@Item.CreatedBy</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>There are no approved rules to display.</p>
    }

    <hr />
    <h3>Rejected</h3>
    @if (Model.RejectedRulesList.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Rejected By</th>
                <th>Last Edited By</th>
                <th>CreatedBy</th>
            </tr>
            @foreach (var Item in Model.RejectedRulesList)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                    <td>@Item.RejectedBy</td>
                    <td>@Item.LastEditedBy</td>
                    <td>@Item.CreatedBy</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>There are no rejected rules to display.</p>
    }
</body>
</html>