@using BingVoiceSystem.WebMVC.Models
@using BingVoiceSystem.Data

@model RulesModel
@{
    ViewBag.Title = "Rules List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var PendingRules = (List<PendingRule>)ViewBag.PendingRules;
    var ApprovedRules = (List<ApprovedRule>)ViewBag.ApprovedRules;
    var RejectedRules = (List<RejectedRule>)ViewBag.RejectedRules;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules List</title>
</head>
<body>
    <h2>Rules List</h2>
    <hr />
    <h3>Pending</h3>
    @if (PendingRules.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Last Edited By</th>
                <th>Action</th>
            </tr>
            @foreach (var Item in (List<PendingRule>)ViewBag.PendingRules)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                    <td>@Item.LastEditedBy</td>
                    <td>@Html.ActionLink("Edit", "Edit"/*, new { id = Item.ID }*/) | @Html.ActionLink("Delete", "Delete"/*, new { id = Item.ID }*/)</td>
                </tr>
            }
        </table>
    }

    <form method="get" action="Add">
        <input type="submit" class="btn btn-primary btn-sm" value="Add New Rule" />
    </form>

    <hr />
    <h3>Approved</h3>

    @if (ApprovedRules.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Approved By</th>
                <th>Last Edited By</th>
            </tr>
            @foreach (var Item in (List<ApprovedRule>)ViewBag.ApprovedRules)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                    <td>@Item.ApprovedBy</td>
                    <td>@Item.LastEditedBy</td>
                </tr>
            }
        </table>
    }

    <hr />
    <h3>Rejected</h3>
    @if (RejectedRules.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Rejected By</th>
                <th>Last Edited By</th>
            </tr>
            @foreach (var Item in (List<RejectedRule>)ViewBag.RejectedRules)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                    <td>@Item.RejectedBy</td>
                    <td>@Item.LastEditedBy</td>
                </tr>
            }
        </table>
    }

</body>
</html>