@using BingVoiceSystem.WebMVC.Models
@using BingVoiceSystem.Data
@using BingVoiceSystem.Business
@model EditorReport
@{
    ViewBag.Title = "Editor Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Rules Report</title>
</head>
<body>
    <h2>Editor Report</h2>
    <hr />
    <h3>Your Approved Rules</h3>
    @if (Model.UsersApprovedRules.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            @foreach (var Item in Model.UsersApprovedRules)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                </tr>
            }
        </table>
        <hr />
        <h3>Your Rule Statistics</h3>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Count of Rules You've Approved</td>
                <td>@Model.UsersApprovedRulesCount</td>
            </tr>
            <tr>
                <td>Count of Rules You've Rejected</td>
                <td>@Model.UsersRejectedRulesCount</td>
            </tr>
            <tr>
                <td>Your Success Rate</td>
                <td>@Model.ApprovalRate</td>
            </tr>
        </table>
    }
    else
    {
        <h4>There is no data to display.</h4>
    }
</body>
</html>