@using BingVoiceSystem.WebMVC.Models
@using BingVoiceSystem.Data

@model ReportsModels
@{
    var ApprovedRules = ViewBag.ApprovedRules;
    int ApprovedCount = ViewBag.ApprovedCount;
    int RejectedCount = ViewBag.RejectedCount;
    string SuccessRate = ViewBag.SuccessRate;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules Report</title>
</head>
<body>
    <h2>Rules Report</h2>
    <hr />
    <h3>Approved Rules</h3>
    @if (ApprovedRules.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            @foreach (var Item in ApprovedRules)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                </tr>
            }
        </table>

        <h3>Rules Statistics</h3>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Approved Rule Count</td>
                <td>@ApprovedCount</td>
            </tr>
            <tr>
                <td>Rejected Rule Count</td>
                <td>@RejectedCount</td>
            </tr>
            <tr>
                <td>Success Rate</td>
                <td>@SuccessRate</td>
            </tr>
        </table>
    }
    else
    {
        <hr />
        <h4>There is no data to display.</h4>
    }
</body>
</html>