@using BingVoiceSystem.Business
@model RulesReport

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules Report</title>
</head>
<body>
    <h2>Rules Report</h2>
    <hr />
    <h3>Approved Rules</h3>
    @if (Model.ApprovedRulesList.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            @foreach (var Item in Model.ApprovedRulesList)
            {
                <tr>
                    <td>@Item.Question</td>
                    <td>@Item.Answer</td>
                </tr>
            }
        </table>

        <h3>Rules Statistics</h3>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Approved Rule Count</td>
                <td>@Model.ApprovedCount</td>
            </tr>
            <tr>
                <td>Rejected Rule Count</td>
                <td>@Model.RejectedCount</td>
            </tr>
            <tr>
                <td>Success Rate</td>
                <td>@Model.SuccessRate</td>
            </tr>
        </table>
    }
    else
    {
        <h4>There is no data to display.</h4>
    }
</body>
</html>